<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Strategy_Essential.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E3B7505AD546BD04300C0DA9A32D8E7C726B0DFF</string>
				<key>dateExpires</key>
				<string>15/10/2564 BE</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>92SB3N9NMR.com.supapass.SupaPassPlayer.strategyessential</string>
				<key>com.apple.developer.team-identifier</key>
				<string>92SB3N9NMR</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>92SB3N9NMR.com.supapass.SupaPassPlayer.strategyessential</string>
				</array>
			</dict>
			<key>name</key>
			<string>Strategy_Essential.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1abf4cb1-dd46-4c1e-be3c-08f461d7de81</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.supapass.SupaPassPlayer.strategyessential</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>92SB3N9NMR</string>
				<key>name</key>
				<string>TNI and Associates Company Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
